{% extends "website/base.html" %}

{% block content %}


<div class="productcontent">    
    <h1>PEOPLES</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/employee 1.jpg" alt="product image">
            </div>
            <div class="itemname">JOHN</div>
            <div class="itemprice">CEO</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/employee 2.jpg" alt="product image">
            </div>
            <div class="itemname">MARY</div>
            <div class="itemprice">SALES ASSOCIATE</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/employee 3.jpg" alt="product image">
            </div>
            <div class="itemname">GEMMA</div>
            <div class="itemprice">SALES MANAGER</div> </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/employee 4.jpg" alt="product image">
            </div>
            <div class="itemname">SMITH</div>
            <div class="itemprice">ACCOUNT MANAGER</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/employee 5.jpg" alt="product image">
            </div>
            <div class="itemname">TOBIAS</div>
            <div class="itemprice">ADMINISTRATIVE ASSISTANT </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/employee 6.jpg" alt="product image">
            </div>
            <div class="itemname">MAYA</div>
            <div class="itemprice">EMPLOYEE</div>
        </div>
    </div>
</div>

{% endblock  %}