{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c3.jpg"  alt="product image">
            </div>
            <div class="itemname">KK Moon 1.8in Micro SATA to SATA 2.5 SSD Hard Drive Disk Adapter Card for laptop computer converter card with built in IC chip</div>
            <div class="itemprice">Price: Rs.1966 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c4.jpg"  alt="product image">
            </div>
            <div class="itemname">XCLUMA ESP32 ESP- 32S ESP 32 Development Board CP2102 wifi Blutooth Ultra - low Power Consumption Dual core </div>
            <div class="itemprice">Price: Rs.799</div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c5.jpg"  alt="product image">
            </div>
            <div class="itemname">ADATA AD4U2400J4G17 - R 4GB 2400 MHZ DDR4 - U - DIMM RAM </div>
            <div class="itemprice">Price: Rs. 3000</div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c6.jpg"  alt="product image">
            </div>
            <div class="itemname">Quantum QHM0 USB wireless wifi Adapter </div>
            <div class="itemprice">Price: Rs.999</div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c7.jpg"  alt="product image">
            </div>
            <div class="itemname">ZEBRONICS H81 LGA 1150 Socket Motherboard</div>
            <div class="itemprice">Price: Rs.3999</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c8.jpg"  alt="product image">
            </div>
            <div class="itemname">ADATA 4GB DDRA4 2666 Laptop memory </div>
            <div class="itemprice">Price: Rs.3500</div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c9.jpg"  alt="product image">
            </div>
            <div class="itemname">Altino store optical Bay 2nd Hard Drive caddy, 12.5mm CD/DVD Drive Slot for SSD and HDD</div>
            <div class="itemprice">Price: Rs.1499 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c10.jpg"  alt="product image">
            </div>
            <div class="itemname">Electronic species PAM 840 3(HW- 104 ) 3 plus 3 watts Mini Digital Power Amplifier Board</div>
            <div class="itemprice">Price: Rs. 171</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c11.jpg"  alt="product image">
            </div>
            <div class="itemname">ALketron Quantum - cache | 4GB - 1866 MHZ CL 10 DDR3 RAM |Long DIMM | PCB - 14900 for gaming and desktop</div>
            <div class="itemprice">Price: Rs.25000 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c12.jpg"  alt="product image">
            </div>
            <div class="itemname">HP SSD EX900 M - 2 250GB Pce 3.0x 4 NVMe 3D TLC NAND Internal solid state Drive</div>
            <div class="itemprice">Price: Rs.7500</div>
        </div>
         
    </div>
    </div>
{% endblock  %}